# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Android build files
android/app/build/
android/build/
android/.gradle/
android/.cxx/
android/local.properties
*.apk
*.aab

# iOS build files
ios/Pods/
ios/build/
ios/**/*.xcworkspace/xcuserdata/
ios/**/*.xcodeproj/xcuserdata/
ios/**/*.xcodeproj/project.xcworkspace/xcuserdata/

# Firebase config files (sensitive)
google-services.json
GoogleService-Info.plist
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebase/
